# Puerto del servidor
PORT=

# Host - 0.0.0.0 permite conexiones desde otras máquinas
HOST=

# MongoDB URI
MONGODB_URI=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRE=

# Entorno
NODE_ENV=

# URL del frontend para CORS
FRONTEND_URL=